@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
}

* {
    margin: 0;
}

.nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 35px;
    font-weight: bold;
}

.logo-name {
    font-size: 28px;
    letter-spacing: 0%;
    margin-left: 150px;
}

.download-button {
    margin-right: 168px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    font-size: medium;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    padding: 15px 20px;
}

.banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(13, 19, 33);
    font-size: 48px;
    word-spacing: 10px;
    text-align: center;
    padding: 50px;
    letter-spacing: 0%;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    text-align: center;
    color: rgb(13, 19, 33);
    opacity: 0.7;

}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;

}

.contact-button button {
    justify-content: center;
    box-sizing: border-box;
    color: aliceblue;
    border-radius: 8px;
    font-size: medium;
    align-items: center;
    font-weight: bold;
    padding: 12px;
    background: rgb(13, 19, 33);
    border: none;
}

.hero {
    max-width: 1000px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 120px auto;
    padding: 30px;


}

.hero-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(13, 19, 33);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.hero-description {
    color: rgb(12, 18, 31);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    padding: 24px;
}

.hero-card {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    padding: 40px;
    margin-bottom: 34px;
}

.hero-card-middle {
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    padding: 40px;
    margin-bottom: 34px;
}

.hero-content {
    max-width: 477px;
}

.learn-btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    padding: 10px;
}

.learn-description {
    padding: 32px 0;
}



.inspiration-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    margin-top: 88px;

}

.basic-content {
    max-width: 852px;
    margin: 0 auto;
}

.basic-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.basic-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}

.video {
    width: 1140px;
    height: 614px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-content {
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    border: none;
}

.card-div {
    position: static;
    width: 364px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    justify-content: center;
   
}

.main-div{
  
 display: flex;
 gap: 10px;
 padding: 10px;
 margin: 10px;

}